
.Profile{
    margin-left: 200px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.bioprofesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.bioprofesion h1{
color: rgb(110, 110, 204);
font-size: 35px;
}
.bioprofesion p{
    font-size: 18px;
}
.btt{
    
    margin: 20px 0 20px 700px;
    padding: 5px 5px;
    background-color: cyan;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
}